
.mainQuote {
  font: bold 32px/36px Georgia,Century,Times,serif;
  color: #111;
  margin-bottom: 10px;
}

.wholeQuote {
  font: 15px/21px Georgia,Century,Times,serif;
  color: #333;
  margin-bottom: 15px;
}

.source {
	display: inline-block;
  text-align: right;
  right: 0;
  color: #ed7c00;
  width: 796px;
  font: 15px/21px Georgia,Century,Times,serif;
  font-size: 18px;
  line-height: 20px;
}
