/*Font style taken from http://www.huffingtonpost.com/2015/04/02/drema-setliff-naked_n_6994744.html?utm_hp_ref=weird-news*/

.mainQuote {
  font: bold 32px/36px Georgia,Century,Times,serif;
  color: #111;
  margin-bottom: 10px;
}

.wholeQuote {
  font: 15px/21px Georgia,Century,Times,serif;
  color: #333;
  margin-bottom: 15px;
}

.source {
	display: inline-block;
  text-align: right;
  right: 0;
  color: #000;
  width: 796px;
  font: 15px/21px Georgia,Century,Times,serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.yearsClean {
	display: inline-block;
  text-align: right;
  right: 0;
  color: #ed7c00;
  width: 796px;
  font: 15px/21px Georgia,Century,Times,serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.location {
		display: inline-block;
  text-align: right;
  right: 0;
  color: #000;
  width: 796px;
  font: 15px/21px Georgia,Century,Times,serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
}
